# Server Port
PORT= [http://192.168.0.104:3000](http://192.168.0.104:3000)

# Client Vite Dev Port (proxies to 3000)
VITE_PORT=5173

# Optional Custom SQLite Database Path
DATABASE_PATH=./server/chalona.db
